OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=replace_me
OPENAI_CHAT_MODEL=gpt-4.1-mini
APP_HOST_PORT=8011
GROBID_ENABLED=true
GROBID_URL=http://127.0.0.1:8070
GROBID_TIMEOUT_SECONDS=180
LOCAL_EMBEDDING_MODEL=BAAI/bge-m3
LOCAL_EMBEDDING_DEVICE=cuda
